.epertise {
  height: 755px;
  padding: 0 200px 70px 200px;
  position: relative;
}
.epertise > .expert {
  text-align: center;
  margin-top: 46px;
  padding-bottom: 75px;
}
.epertise > .expert small.exp-text {
  text-align: center;
  font-family: PlayFaireDisplayRegular, Arial;
  color: #a1a0a4;
  font-size: 14px;
  text-transform: lowercase;
  position: relative;
}
.epertise > .expert small.exp-text:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 50px;
  background: #c6c4c9;
  left: 50%;
  margin-left: -25px;
  bottom: -22px;
}
.epertise table {
  border: 10px solid white;
  width: 945px;
  position: absolute;
  left: 50%;
  margin-left: -460px;
}
.epertise td {
  padding: 35px 30px;
  text-align: center;
  font-size: 14px;
}
.epertise td > .h-table {
  font-family: Robot;
  text-transform: uppercase;
}
.epertise td > .p-table {
  font-family: Robot-light, Arial;
  color: #666666;
}
