.footer {
  background: url(/foto/footer.jpg) no-repeat;
  background-size: cover;
  height: 400px;
  padding: 70px 230px 0 230px;
  flex: 0 0 auto;
  .f-img-p {
    margin-top: -15px;
    & > .p-top {
      padding-top: 20px;
    }
  }
  .h-foot-row {
    height: 277px;
    margin-bottom: -70px;
  }
  .text-rob {
    font-family: Robot-light, Arial;
    color: #ffffff;
    font-size: 14px;
  }
  .pos-t-f {
     padding-top: 20px;
   }
  .p-r-f {
    padding-right: 15px;
  }
  .our-studio {
    color: #ffffff;
    text-transform: uppercase;
    font-family: Robot, Arial;
    font-size: 15px;
  }
  .pad-inp {
    padding-top: 20px;
  }
  .inp-pad {
    padding-right: 0;
    padding-left: 0;
    & > form > .inp-bg {
      background: transparent;
      height: 43px;
    }
  }
  .inp-pad-2 {
    padding-right: 0;
    padding-left: 10px;
    & > .bg-but {
      border: 1px solid rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
      opacity: 0.502;
      width: 68px;
      height: 43px;
    }
  }
  .pad-img-1 {
    padding-right: 0;
  }
  .img-foot > li > a {
    padding: 0;
    margin: 25px 5px 0 0;
  }
  .mar-fot {
    margin-top: 80px;
  }
  .fot-text > p > a {
      font-family: Roboto Regular, Arial;
      color: #e3e2e8;
      font-size: 14px;
      text-transform: uppercase;
  }
  .br-foot {
    color: #ffffff;
    font-family: Roboto Regular, Arial;
    font-size: 14px;
  }
}
